:root{
    --cor-azul-claro: #83AFEDF0;
    --cor-azul-escuro: #3388FFF0;
    --cor-preto:#000000;
}

*{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

body{
    background: white;
    margin: 0 auto;

}

body .container{
    max-width: 1345px;
    
}

/* Cabecalho*/

header{
background: var(--cor-azul-escuro);
padding: 0.5rem 2.5rem;
display: flex;
justify-content: space-between;

}

header img:nth-child(1){
    height: 95px;
    width: 237px;
}
header img:nth-child(2){
    height: 91px;
    width: 227px;

}

main{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    gap: 2rem
}

/* Secao 1*/


main .secao-um img{
    height: 512px;
    width: 512px;
    position:relative;
    top: -30px;
}
main .secao-um{
    background: var(--cor-azul-escuro);
    color: black;
    font-weight: bold;
    margin:2rem;
    display: flex;
    align-items: center;
    border-radius: 133px 133px 133px 40px;
    height: 442px;


}

main .secao-um h1{
    text-align: center;
    width: 562px;
    font-size: 41px;
}

.strong{
    color: white;
}

/* Secao 2*/

.secao-dois{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    margin: 0 2rem;
    max-width: 1340px;
    font-size: 41px;
    gap:1rem;
}

.secao-dois strong{
    font-weight: bold;
    color: var(--cor-azul-escuro);
}


/* Secao 3*/

.secao-tres{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem ;
}

.secao-tres p{
    font-size: 41px;

}

.secao-tres p strong{
    color: var(--cor-azul-escuro);
    width: bold;
}

.imghomem{
    width: 479px;
    height: 580px;
    border-radius: 149px;
}

.bg-img-dois{
    display: flex;
    align-items: flex-end;
    width: 515px;
    height: 435px;
    background-color: var(--cor-azul-escuro);
    border-radius: 130px;
    margin-left: 2px;
    
}

.containersecao{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    
}

.containersecao ul{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: center;
    gap: 1.5rem;
    
}

.containersecao li img{
    height: 65px;
    width: 65px;
    margin-right: 2rem;
    
}

.containersecao li{
    gap: 2rem;
    list-style-type: none;
    align-items: center;
}

/* Secao 4 */

.secao-quatro{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2.5rem;
    align-items: center;
    text-align: center;
}

.secao-quatro a{
    background: var(--cor-azul-escuro);
    text-align: center;
    padding: .5rem;
    border-radius: 18px;
    width: 438px;
    font-size: 24px;
    color: white;
    text-decoration: none;

}

.secao-quatro ul{
    display: flex;
    justify-content: space-between;
    width: 430px;

}

.secao-quatro li{
    list-style-type: none;
    width: 94px;
    height: 94px;
}

/* Formulario*/

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 438px;
    margin: 2.5rem auto;
    align-self: center;

}

.formulario input,
textarea{
    margin-top: .5rem;
    padding: .5rem;
}

.formulario form{
    justify-content: center;
}

.formulario textarea{
    resize: none;
    height: 180px;
    width: 438px;
}

.formulario button{
    background: var(--cor-azul-escuro);
    padding: .5rem;
    width: 438px;
    align-self: center;
    margin-left: 0.8rem;
    margin-top: .5rem;
    cursor: pointer;

}

.formulario input, button, textarea:focus{
    outline: var(--cor-azul-escuro)}


/* Footer*/

footer{
    display: flex;
    flex-direction: column;
    background: var(--cor-azul-escuro);
    text-align: center;
    padding: 2.5rem;
    gap: .5rem;
    align-items: center;
    font-size: 24px;
    margin: 0 auto;
}

footer p{

    width: 975px;
}

.aluno{
    display: flex;
    gap: 1rem;
    width: 975px;
    justify-content: center;
    margin-top: 2rem;

}

.aluno h2{
    width: 50%;
    margin: 0;;
}

.aluno img{
    width: 50px;
    height: 50px;
    margin: 0;
}
